  body {
        font-family: Arial, sans-serif;
        background-color: #fff;
        margin: 0;
        padding: 0;
    }
.container {
        max-width: 800px;
        margin: 0 auto;
        padding: 20px;
        background-color: #fff;
        border-radius: 5px;
        box-shadow: 0 0 9px rgba(0, 0.4, 0, 0.2);
    }
h1 {
        text-align: center;
        color: #323;
    }
p {     text-align: center;
        color: #666;
    }